<ion-view view-title="No Más Violencia">
  <ion-content>
  	<div class="row">
	    <div class="valign-wrapper">
	        <!--div class="col hide-on-small-only m3">
	            <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	            </a>
	        </div-->
	        <div class="col s12 context">
	            <div class="row hide-on-med-and-up">
	                <!--div class="col s3 valign-wrapper">
	                    <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                        <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	                    </a>
	                </div-->
	                <div class="col s12">
	                    <h4>Marco Legal</h4>
	                </div>
	            </div>
	            <h4 class="hide-on-small-only">Marco Legal</h4>
	            <p>En esta sección encontrará las leyes vigentes y Convenios internacionales ratificados por Chile. Y un apartado de la Convención sobre la eliminación de todas las formas de discriminación contra la mujer CEDAW. Finamente, un apartado de la Convencion Interamericana para prevenir, sancionar y erradicar la violencia contra la mujer, Convencion de Belem do Para.</p>
	        </div>
	    </div>
	</div>	
    <div class="tabs tabs-top">
	  <a class="tab-item" href="#/app/marco_legal/nacional">
	    NACIONAL
	  </a>
	  <a class="tab-item" href="#/app/marco_legal/cedaw">
	    CEDAW
	  </a>
	  <a class="tab-item active" href="#/app/marco_legal/belem">
	    BELEM DO PARÁ
	  </a>
	</div>
	<div class="text-marco-legal">
        <h5 class="title-marco-legal">Convención Interamericana para prevenir, sancionar y erradicar la violencia contra la mujer. Belem do Pará. </h5>
        <p class="description">
            Esta convención es un instrumento de gran importancia en la lucha por la erradicación de la violencia contra las mujeres.  Que tiene como objetivo la lucha contra la discriminación que viven las mujeres, este un instrumento de derechos humanos ratifica que  la eliminación de la violencia contra las mujeres como condición indispensable para llegar a una convivencia social igualitaria y democrática.
        </p>
        <h5>Artículo 3</h5>
        <p>Toda mujer tiene derecho a una vida libre de violencia, tanto en el ámbito público como en el privado.</p>
        <h5>Artículo 7</h5>
        <div>
            <p>Los Estados Partes condenan todas las formas de violencia contra la mujer y convienen en adoptar, por todos los medios apropiados y sin dilaciones, políticas orientadas a prevenir, sancionar y erradicar dicha violencia y en llevar a cabo lo siguiente:</p>
            <ul>
                <li class="list-alpha">abstenerse de cualquier acción o práctica de violencia contra la mujer y velar porque las autoridades, sus funcionarios, personal y agentes e instituciones se comporten de conformidad con esta obligación;</li>
                <li class="list-alpha">actuar con la debida diligencia para prevenir, investigar y sancionar la violencia contra la mujer;</li>
                <li class="list-alpha">incluir en su legislación interna normas penales, civiles y administrativas, así como las de otra naturaleza que sean necesarias para prevenir, sancionar y erradicar la violencia contra la mujer y adoptar las medidas administrativas apropiadas que sean del caso;</li>
                <li class="list-alpha">adoptar medidas jurídicas para conminar al agresor a abstenerse de hostigar, intimidar, amenazar, dañar o poner en peligro la vida de la mujer de cualquier forma que atente contra su integridad o perjudique su propiedad;</li>
                <li class="list-alpha">tomar todas las medidas apropiadas, incluyendo medidas de tipo legislativo, para modificar o abolir leyes y reglamentos vigentes, o para modificar prácticas jurídicas o consuetudinarias que respalden la persistencia o la tolerancia de la violencia contra la mujer;</li>
                <li class="list-alpha">establecer procedimientos legales justos y eficaces para la mujer que haya sido sometida a violencia, que incluyan, entre otros, medidas de protección, un juicio oportuno y el acceso efectivo a tales procedimientos;</li>
                <li class="list-alpha">establecer los mecanismos judiciales y administrativos necesarios para asegurar que la mujer objeto de violencia tenga acceso efectivo a resarcimiento, reparación del daño u otros medios de compensación justos y eficaces, y</li>
                <li class="list-alpha">adoptar las disposiciones legislativas o de otra índole que sean necesarias para hacer efectiva esta Convención.</li>
            </ul>
        </div>
        <h5>Artículo 8</h5>
        <div>
            <p>Los Estados Partes convienen en adoptar, en forma progresiva, medidas específicas, inclusive programas para:</p>
            <ul>
                <li class="list-alpha">fomentar el conocimiento y la observancia del derecho de la mujer a una vida libre de violencia, y el derecho de la mujer a que se respeten y protejan sus derechos humanos;</li>
                <li class="list-alpha">modificar los patrones socioculturales de conducta de hombres y mujeres, incluyendo el diseño de programas de educación formales y no formales apropiados a todo nivel del proceso educativo, para contrarrestar prejuicios y costumbres y todo otro tipo de prácticas que se basen en la premisa de la inferioridad o superioridad de cualquiera de los géneros o en los papeles estereotipados para el hombre y la mujer que legitimizan o exacerban la violencia contra la mujer;</li>
                <li class="list-alpha">fomentar la educación y capacitación del personal en la administración de justicia, policial y demás funcionarios encargados de la aplicación de la ley, así como del personal a cuyo cargo esté la aplicación de las políticas de prevención, sanción y eliminación de la violencia contra la mujer;</li>
                <li class="list-alpha">suministrar los servicios especializados apropiados para la atención necesaria a la mujer objeto de violencia, por medio de entidades de los sectores público y privado, inclusive refugios, servicios de orientación para toda la familia, cuando sea del caso, y cuidado y custodia de los menores afectados;</li>
                <li class="list-alpha">fomentar y apoyar programas de educación gubernamentales y del sector privado destinados a concientizar al público sobre los problemas relacionados con la violencia contra la mujer, los recursos legales y la reparación que corresponda;</li>
                <li class="list-alpha">ofrecer a la mujer objeto de violencia acceso a programas eficaces de rehabilitación y capacitación que le permitan participar plenamente en la vida pública, privada y social;</li>
                <li class="list-alpha">alentar a los medios de comunicación a elaborar directrices adecuadas de difusión que contribuyan a erradicar la violencia contra la mujer en todas sus formas y a realzar el respeto a la dignidad de la mujer;</li>
                <li class="list-alpha">garantizar la investigación y recopilación de estadísticas y demás información pertinente sobre las causas, consecuencias y frecuencia de la violencia contra la mujer, con el fin de evaluar la eficacia de las medidas para prevenir, sancionar y eliminar la violencia contra la mujer y de formular y aplicar los cambios que sean necesarios, y</li>
                <li class="list-alpha">promover la cooperación internacional para el intercambio de ideas y experiencias y la ejecución de programas encaminados a proteger a la mujer objeto de violencia.</li>
            </ul>
        </div>

        <p>
            Más información en: <a href="http://www.oas.org/juridico/spanish/tratados/a-61.html" target="_blank" rel="noopener noreferrer">Texto completo de la convención</a>
        </p>
    </div>
  </ion-content>
</ion-view>
