<ion-view view-title="No Más Violencia">
  <ion-content>
  	<div class="row">
	    <div class="valign-wrapper">
	        <!--div class="col hide-on-small-only m3">
	            <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	            </a>
	        </div-->
	        <div class="col s12 context">
	            <div class="row hide-on-med-and-up">
	                <!--div class="col s3 valign-wrapper">
	                    <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                        <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	                    </a>
	                </div-->
	                <div class="col s12">
	                    <h4>Marco Legal</h4>
	                </div>
	            </div>
	            <h4 class="hide-on-small-only">Marco Legal</h4>
	            <p>En esta sección encontrará las leyes vigentes y Convenios internacionales ratificados por Chile. Y un apartado de la Convención sobre la eliminación de todas las formas de discriminación contra la mujer CEDAW. Finamente, un apartado de la Convencion Interamericana para prevenir, sancionar y erradicar la violencia contra la mujer, Convencion de Belem do Para.</p>
	        </div>
	    </div>
	</div>	
    <div class="tabs tabs-top">
	  <a class="tab-item" href="#/app/marco_legal/nacional">
	    NACIONAL
	  </a>
	  <a class="tab-item active" href="#/app/marco_legal/cedaw">
	    CEDAW
	  </a>
	  <a class="tab-item" href="#/app/marco_legal/belem">
	    BELEM DO PARÁ
	  </a>
	</div>
	<div class="text-marco-legal">
		<h5>Convención sobre la Eliminación de todas las formas de Discriminación contra la Mujer (CEDAW)   </h5>
	    <p class="description">
	        <p>
	            Esta convención obliga al Estados Partes a proteger a las mujeres contra cualquier tipo de violencia que se produzca en la familia, en el trabajo o en cualquier otro ámbito de la vida social, al reconocer la violencia como un acto de discriminación.
	        </p>
	        <div class="col m9 offset-m3">
	            <p class="quote">
	                "…la máxima participación de la mujer, en igualdad de condiciones con el hombre, en todos los campos, es indispensable para el desarrollo pleno y completo de un país, el bienestar del mundo y la causa de la paz."
	            </p>
	        </div>
	        <div class="col m6 offset-m6">
	            <p class="quote">
	                Extracto Fundamento Convención Sobre la Eliminación de Todas las Formas de Discriminación Contra la Mujer, 1979.
	            </p>
	        </div>
	    </p>
	    <h5>Artículo 1</h5>
	    <p>A los efectos de la presente Convención, la expresión "discriminación contra la mujer" denotará toda distinción, exclusión o restricción basada en el sexo que tenga por objeto o resultado menoscabar o anular el reconocimiento, goce o ejercicio por la mujer, independientemente de su estado civil, sobre la base de la igualdad del hombre y la mujer, de los derechos humanos y las libertades fundamentales en las esferas política, económica, social, cultural y civil o en cualquier otra esfera.</p>
	    <h5>Artículo 2</h5>
	    <div>
	        <p>Los Estados Partes condenan la discriminación contra la mujer en todas sus formas, convienen en seguir, por todos los medios apropiados y sin dilaciones, una política encaminada a eliminar la discriminación contra la mujer y, con tal objeto, se comprometen a:</p>
	        <ul>
	            <li class="list-alpha">Consagrar, si aún no lo han hecho, en sus constituciones nacionales y en cualquier otra legislación apropiada el principio de la igualdad del hombre y de la mujer y asegurar por ley u otros medios apropiados la realización práctica de ese principio;</li>
	            <li class="list-alpha">Adoptar medidas adecuadas, legislativas y de otro carácter, con las sanciones correspondientes, que prohíban toda discriminación contra la mujer;</li>
	            <li class="list-alpha">Establecer la protección jurídica de los derechos de la mujer sobre una base de igualdad con los del hombre y garantizar, por conducto de los tribunales nacionales o competentes y de otras instituciones públicas, la protección efectiva de la mujer contra todo acto de discriminación;</li>
	            <li class="list-alpha">Abstenerse de incurrir en todo acto a práctica de discriminación contra la mujer y velar porque las autoridades e instituciones públicas actúen de conformidad con esta obligación;</li>
	            <li class="list-alpha">Tomar todas las medidas apropiadas para eliminar la discriminación contra la mujer practicada por cualesquiera personas, organizaciones o empresas;</li>
	            <li class="list-alpha">Adaptar todos las medidas adecuadas, incluso de carácter legislativo, para modificar o derogar leyes, reglamentos, usos y prácticas que constituyan discriminación contra la mujer;</li>
	            <li class="list-alpha">Derogar todas las disposiciones penales nacionales que constituyan discriminación contra la mujer.</li>
	        </ul>
	    </div>
	    <p>
	        Más información en: <a href="http://www.un.org/womenwatch/daw/cedaw/text/sconvention.htm" target="_blank" rel="noopener noreferrer">Texto completo  de la convención</a>
	    </p>
	</div>
  </ion-content>
</ion-view>
