<ion-view view-title="No Más Violencia">
  <ion-content>
  	<div class="row">
	    <div>
	        <!--div class="col hide-on-small-only m3">
	            <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	            </a>
	        </div-->
	        <div class="col s12 context">
	            <div class="row hide-on-med-and-up">
	                <!--div class="col s3 valign-wrapper">
	                    <a href="http://www.usach.cl/" target="_blank" rel="noopener noreferrer">
	                        <img class="responsive-img" src="images/logo-usach-naranjo.png"></img>
	                    </a>
	                </div-->
	                <div class="col s12">
	                    <h4>Marco Legal</h4>
	                </div>
	            </div>
	            <h4 class="hide-on-small-only">Marco Legal</h4>
	            <p>En esta sección encontrará las leyes vigentes y Convenios internacionales ratificados por Chile. Y un apartado de la Convención sobre la eliminación de todas las formas de discriminación contra la mujer CEDAW. Finamente, un apartado de la Convencion Interamericana para prevenir, sancionar y erradicar la violencia contra la mujer, Convencion de Belem do Para.</p>
	        </div>
	    </div>
	</div>	
    <div class="tabs tabs-top">
	  <a class="tab-item active" href="#/app/marco_legal/nacional">
		NACIONAL
	  </a>
	  <a class="tab-item" href="#/app/marco_legal/cedaw">
	    CEDAW
	  </a>
	  <a class="tab-item" href="#/app/marco_legal/belem">
	    BELEM DO PARÁ
	  </a>
	</div>

	<div class="text-marco-legal">
		<h5>Legislación Nacional</h5>
	    <p class="description">
	        Chile ha consolidado un marco legal en favor de la Eliminación de la violencia de género y contra las mujeres. 
	    </p>
	    <p class="description">
	        En esa vía se han tipificado en el código penal delitos sexuales descritos y sancionados: Violación (Art. 361), Violación impropia (Art. 362), Violación con homicidio (Art. 372 bis), Estupro (Art. 363), Abuso sexual (Arts. 365 bis y 366), Abuso sexual infantil (Art. 366 bis) y Abuso sexual infantil impropio (Art. 366 quáter).
	    </p>
	          
	    <h5>Acoso laboral</h5>
	    <p>
	        “Acto contrario a la dignidad de la persona, configurado por toda conducta que constituya agresión u hostigamiento reiterados, ejercida por el empleador o por uno o más trabajadores, en contra de otro u otros trabajadores, por cualquier medio, que tenga como resultado para el o los afectados, su menoscabo, maltrato o humillación, o bien que amenace o perjudique su situación laboral o sus oportunidades en el empleo”. Ley N° 20.607 del 8 de agosto 2012.
	    </p>
	    <h5>Acoso sexual</h5>
	    <p>
	        "Las relaciones laborales deberán siempre fundarse en un trato compatible con la dignidad de la persona. Es contrario a ella, entre otras conductas, el acoso sexual, entendiéndose por tal el que una persona realice en forma indebida, por cualquier medio, requerimientos de carácter sexual no consentidos por quien los recibe y que amenacen o perjudiquen su situación laboral o sus oportunidades en el empleo". Ley N° 20.005 del 8 marzo 2005.
	    </p>
	    <div>

	        <p>Así mismo ha promulgado las siguientes leyes:</p>
	        <ul>
	            <li class="list-circle">Ley Nº 19.611 Establece igualdad jurídica entre hombres y mujeres (1999).</li>
	            <li class="list-circle">Ley Nº 19.585 de Filiación (1998).</li>
	            <li class="list-circle">Ley Nº 19.688 Derecho de estudiantes embarazadas para acceder a establecimientos educacionales (2000).</li>
	            <li class="list-circle">Ley Nº 19.947 de Matrimonio Civil (2004).</li>
	            <li class="list-circle">Ley Nº 19.968 de Tribunales de Familia (2004).</li>
	            <li class="list-circle">Ley Nº 20.005 de Acoso Sexual en el Trabajo (2005).</li>
	            <li class="list-circle">Ley Nº 20.047 de Postnatal Masculino (2005). </li>
	            <li class="list-circle">Ley Nº 20.066 sobre Violencia Intrafamiliar (2005)</li>
	            <li class="list-circle">Ley Nº 19.617 Reforma del Código Penal en materia de Delitos Sexuales (2006).</li>
	            <li class="list-circle">Ley Nº 20.166 (2007), garantiza el derecho de las madres trabajadoras a alimentar a sus hijos/as menores de 2 años.</li>
	            <li class="list-circle">Ley Nº 20.255 sobre Reforma Previsional (2008).</li>
	            <li class="list-circle">Ley Nº 20.279 (2008), derecho a salario mínimo a las trabajadoras de casa particular.</li>
	            <li class="list-circle">Ley Nº 20.348 Resguarda el derecho a la Igualdad en las Remuneraciones (2009).</li>
	            <li class="list-circle">Ley Nº 20.418 que Fija Normas sobre Información, Orientación y Prestaciones en materia de Regulación de la Fertilidad (2010).</li>
	            <li class="list-circle">Ley Nº 20.480 que crea la figura del Femicidio (2010).</li>
	            <li class="list-circle">Ley Nº 20.507 Tipifica los Delitos de Tráfico Ilícito de Migrantes y Trata de Personas (2011).</li>
	            <li class="list-circle">Ley Nº 20.526 Sanciona el acoso sexual de menores, la pornografía infantil virtual y la posesión de material pornográfico infantil (2011).</li>
	            <li class="list-circle">Ley 20.607 que Modifica el Código del Trabajo sancionando las prácticas de acoso laboral (2012).</li>
	            <li class="list-circle">Ley Nº 20.609 que Establece Medidas contra la Discriminación (2012). </li>
	            <li class="list-circle">Ley Nº 20.830 crea el Acuerdo de Unión Civil (2015).</li>
	        </ul>
	    </div>

	    <p>
	        Tratados, Convenciones y Convenios internacionales que regulan y mandatan al Estado de Chile en relación a los derechos de igualdad y no discriminación
	    </p>
	    <ul>
	        <li class="list-circle">Declaración Universal de los Derechos Humanos (1948).</li>
	        <li class="list-circle">Convención contra la Tortura y Otros Tratos o Penas Crueles, Inhumanos o Degradantes (1984).</li>
	        <li class="list-circle">Convención sobre la Eliminación de todas las formas de Discriminación contra la Mujer, CEDAW (1979, ratificada por Chile en 1989)</li>
	        <li class="list-circle">Declaración sobre la Eliminación de la Violencia contra la Mujer (de la Asamblea General de la Organización de Naciones Unidas, de 1993).</li>
	        <li class="list-circle">Convención Interamericana para Prevenir, Sancionar y Erradicar la Violencia contra la Mujer (adoptada por la Asamblea General de la Organización de los Estados Americanos en junio de 1994, en Belém do Pará, Brasil, ratificada por Chile en 1996)</li>
	        <li class="list-circle">Convención de los Derechos del Niño y la Niña (Asamblea General de las Naciones Unidas 1989, ratificada por Chile en 1990).</li>
	        <li class="list-circle">Principios de las Naciones Unidas a favor de las Personas de Edad (1991).</li>
	        <li class="list-circle">Declaración de Pachuca “Fortalecer los esfuerzos de prevención de la violencia contra las mujeres” o Declaración del Comité de Expertas del Mecanismo de Seguimiento de la Convención Belem do Pará –MESECVI- (2014)</li>
	        <li class="list-circle">Convención Interamericana sobre la Protección de los Derechos Humanos de las Personas Mayores (2015, en proceso de ratificación en Chile</li>
	    </ul>

	    <p>
	        Otros instrumentos internacionales que resguardan el derecho a la no violencia contra las mujeres son:
	    </p>
	    <ul>
	        <li class="list-circle">Convenio Nº 169 de la Organización Internacional del Trabajo (OIT), sobre pueblos indígenas y tribales en países independientes, de 1989, ratificado por Chile en 2008.</li>
	        <li class="list-circle">Convención de las Naciones Unidas contra la Delincuencia Organizada Transnacional o Convención de Palermo y sus Protocolos Complementarios, de 2000, ratificada por Chile el 2004.  </li>
	        <li class="list-circle">Convención Internacional de Protección de los derechos de los trabajadores migratorios y sus familiares, de 1990.  </li>
	        <li class="list-circle">Convención sobre los Derechos de las Personas con Discapacidad, de 2006, promulgada y vigente en Chile desde 2008. </li>
	    </ul>
	</div>
  </ion-content>
</ion-view>
